@model TraversalCoreProje.Areas.Member.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profil düzenleme sayfası</h1>
<form method="post">
    @Html.Label("Adınız")
    <input type="text" asp-for="name" class="form-control" />
    <br />
    @Html.Label("Soyadınız")
    <input type="text" asp-for="surname" class="form-control" />
    <br />
    @Html.Label("Mail Adresiniz")
    <input type="text" asp-for="mail" class="form-control" />
    <br />
    @Html.Label("Şİfreniz")
    <input type="text" asp-for="password" class="form-control" />
    <br />
    @Html.Label("Şifre tekrarı")
    <input type="text" asp-for="confirmpassword" class="form-control" />
    <br />
    @Html.Label("Telefon numarası")
    <input type="text" asp-for="phonenumber" class="form-control" />
    <br />

</form>
